@charset "UTF-8";
/* CSS document for laptop*/
/*This fluid.css file is similar to style.css since it is meant for laptop/PC view, not much changes here just some relative values taking over fixed values and switching certain things to auto*/



/* The body tag style applies to all elements on the page */
body {
    font-family: Verdana, Geneva, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    background: lightblue;
    background: -moz-linear-gradient(top, lightpink 0%, lightblue 100%);
    background: -webkit-linear-gradient(top, lightpink 0%, lightblue 100%);
    background: -o-linear-gradient(top, lightpink 0%, lightblue 100%);
    background: linear-gradient(to bottom, lightpink 0%,lightblue 100%);


}
/* The wrapper ID style is encases everything else*/
#wrapper {
    width: 960px;
    height: 900px; /* At least full viewport*/
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background: lightblue;
    background: -moz-linear-gradient(top, lightpink 0%, lightblue 100%);
    background: -webkit-linear-gradient(top, lightpink 0%, lightblue 100%);
    background: -o-linear-gradient(top, lightpink 0%, lightblue 100%);
    background: linear-gradient(to bottom, lightpink 0%,lightblue 100%);
}

/* The button-row ID style is centered*/
.button-row {
    width: 900px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background: lightgoldenrodyellow;
}

.button-row h3 {
    text-align: center;
    color: black;
}



#mainfooter {
    height:130px;
    background-color: lightblue;
    text-align: center;
    padding: 10px;
}

#aboutfooter {
    height:130px;
    background-color: lightblue;
    text-align: center;
    padding: 10px;
}



#banner {
    height: 150px;
    background-color: lightpink;
    text-align: center;
}

#banner h1 {
    color: darkslateblue;
    text-align: center;
}

/* Terminating float with clear class */
.clear{
    clear: both;
}


/* The right-column ID style is floated right */
#right-column {
float: right;
width: 600px;height: 600px;
background-color:lightyellow;
}
/* The left-column ID style is floated left */
#left-column {
float: left;
width: 360px;background-color:lightgoldenrodyellow;
height:600px;
}

article {
    text-align: center;
    margin-top: 40px;

}

.project-row {
    width: 900px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background: lightgoldenrodyellow;

}

.project-row h3 {
    text-align: center;
    color: black;
}


.project-row article h3 {
    text-align: center;
    color: white;
}

.project-row article {
    text-align: center;
    color: white;
}

.form-layout {
    width: 900px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: lightgoldenrodyellow;

}

.form-layout p{
    padding: 12px;

}
