/* Access to all usable characters*/
@charset "UTF-8";
/* The body tag style applies to all elements on the page */
body {
    background-color: lightgreen;
    font-family: Verdana, Geneva, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}
/* The wrapper ID style is encases everything else*/
#wrapper {
    width: 960px;
    height: 800px; /* At least full viewport*/
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background: yellow;
    background: -moz-linear-gradient(top, red 0%, yellow 100%);
    background: -webkit-linear-gradient(top, red 0%, yellow 100%);
    background: -o-linear-gradient(top, red 0%, yellow 100%);
    background: linear-gradient(to bottom, red 0%,yellow 100%);
}

/* The button-row ID style is centered*/
.button-row {
    width: 900px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background: yellow;

    /*justify-content: center;  center horizontally */
    /*gap: 1rem;  gaps between buttons equally apart */
}

.button-row h3 {
    text-align: center;
}



/* Defining a style for a set of tags by using commas*/
h1, h2, h3, h4, h5, h6, p, li {
    margin-left: 15px;
}

#banner {
    height: 150px;
    background-color: lightsalmon;
}

#banner h1 {
    color: darkblue;
    text-align: center;
}

#footer {
    /*margin-top: auto;*/ /* Pushes footer to the bottom */
    height:100px;
    background-color: lightsalmon;
}

/* Adding style to our box class, making them centered*/
.box {
    float: right;
    height: 250px;
    width: 250px; 
    background-color: red;
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 33px;
    opacity:.5;
}



/* Pseudo-class applies to the box class when in a hovered state*/
.box:hover {
    background-color: white;
    opacity:1;
}

/* Terminating float with clear class */
.clear{
    clear: both;
}

.myvideo {
    width:500px;
    height:400px;
    margin-top: 90px;
    margin-left: 50px;
    background-color: black;
    border: 6px white solid;

}

/* The right-column ID style is floated right */
#right-column {
float: right;
width: 600px;height: 600px;
background-color:LightGray;
}
/* The left-column ID style is floated left */
#left-column {
float: left;
width: 360px;background-color:silver;
height:600px;
}